@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
  background-image: url('https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80');
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  place-items: center;
  justify-content: space-around;
}

.content {
  display: grid;
  grid-template-columns: 25% 3fr;
  width: 80%;
  height: 80%;
  place-items: center;
  background-color: rgb(255 255 255 / 50%);
  border-radius: 1rem;
  border: solid 1px silver;
  overflow: hidden;
}

.title {
  font-family: 'Bebas Neue', cursive;
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
  color: #a67854;
  font-size: 6rem;
}

.titleDiv {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: black;
  place-content: center;
  align-items: center;
}

.form {
  display: grid;
  gap: 1rem;
  width: 80%;
}

.formText {
  border: none;
  height: 2rem;
  text-align: center;
  border-radius: 1rem;
  width: 100%;
}

.formSubmit {
  border: none;
  height: 2rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 500px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .title {
    font-size: 5rem;
    transform: rotateZ(270deg);
  }

  .form {
    gap: 3rem;
  }
}
